* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #292B2E;
  background-attachment: fixed;
  background-color: #edf2f7;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23a0aec0' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.content-wrapper {
  display:flex;
  justify-content: space-evenly;
}

.jcard {
  display: flex;
  border: black 1px solid;
  width: 4in;
  height: 4in;
  align-items: center;
  flex-direction: row-reverse;
  font-family: 'Courier New', Courier, monospace;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  z-index: 2;
  transition: transform ease-in-out .3s;
  position: sticky;
  top: 30%
}

.jcard-front {
  width: 2.5in;
  height: 4in;
  text-align: center;
  font-size: 12px;
  padding-top: 5px;
}

.jcard-front p {
  color: #E53E3E;
  font-weight: bold;
  font-size: 10.5px;
  text-indent: 10px hanging each-line;
}

.jcard-front h1, .jcard-front h2 {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 12px;
}

.jcard-side h1 , .jcard-side h2 {
  font-size: 20px;
  font-weight: bold;
}



.jcard-side {
  border-top: black 1px solid;
  border-bottom: black 1px solid;
  height: .5in;
  width: 4in;
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  transform: rotateZ(90deg) translateY(.75in);
}

.spineDiv {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  margin-right: 5px;
}

.spineNormal {
  transform: rotateZ(90deg) translateY(.75in);
}

.spineReverse {
  transform: rotateZ(-90deg) translateY(-.75in);
}

.flex-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 80px;
  text-align: left;
  width: 170px;
}

ol {
  list-style: decimal;
  list-style-position: inside;
}

li {
  text-align: left;
  margin: 3px 5px;
  font-weight: bold;
}

.jcard-back {
  position: absolute;
  display: flex;
  width: 4in;
  height: 1in;
  transform: rotateZ(-90deg) translateY(-1.5in);
  display: none;
}

.jcard-back2 {
  position: absolute;
  display: flex;
  width: 4in;
  height: 1in;
  flex-direction: row;
  justify-content: space-around;
  transform: rotateZ(-90deg) translateY(-1.5in);
}

.jcard-back2 p {
  width:100%;
  align-self: center;
  text-align: center;
}

.br-dash {
  border-right: 1px dashed black;
}

.back1.jcard-back, .back1.jcard-back2 {
  display: flex;
}

.back1.jcard-back2, .back2.jcard-back {
  display: none
}

.jcard-back p {
  text-align: center;
  font-size: 11px;
  margin: 0 5px;
}

.jcard-back p:after {
  content: " •";
}

.jcard-back h2 {
  width: 4in
}

.jcard-back div {
  display: flex;
  padding: 5px;
  flex-direction: column;
  width: 50%;
  justify-content: space-between;
}

.jcard-back div h3:first-of-type {
  font-weight: 600;
}

.song {
  display: flex;
  align-items: baseline;
}

.song p {
  margin-right: 15px;
}

.underlines li {
  border-bottom: 1px solid black;
}

.underlines ol{
  border-top: 2px solid black
}

.jcard-form {
  margin-top: 25px;
}

.jcard-form h3, .jcard-form h4 {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 15px;
}

.jcard-form h1 {
  font-size: 24px;
  margin-bottom: 25px;
}

label {
  font-size: 18px;
  margin-bottom: 5px;
}

.jcard-form p {
  margin-top: 15px;
  margin-bottom: 5px;
}

input[type="file" i] {
  font-size: inherit;
}

select {
  font-size: 16px;
  line-height: 1.5;
  box-shadow: inset 0 1px 4px 0 rgba(0,0,0,0.20);
  padding: 5px 10px;
}

input[type=text]{
  font-size: 16px;
  line-height: 1.5;
  background: #FFFFFF;
  background-repeat: no-repeat;
  background-position: 10px 10px;
  background-size: 20px 20px;
  border: 1px solid #C5CBD5;
  box-shadow: inset 0 1px 4px 0 rgba(0,0,0,0.20);
  border-radius: 8px;
  width: 300px;
  padding: .5em 1em .5em 1em;
} 
  
input[type=text]::placeholder{
  color: #838D99;
}
  
input[type=text]:focus {
  outline: none;
  border: 1px solid #84A2FA;
}

input[type=number]{
  font-size: 16px;
  line-height: 1.5;
  background: #FFFFFF;
  background-repeat: no-repeat;
  background-position: 10px 10px;
  background-size: 20px 20px;
  border: 1px solid #C5CBD5;
  box-shadow: inset 0 1px 4px 0 rgba(0,0,0,0.20);
  border-radius: 8px;
  width: 100px;
  padding: .5em 1em .5em 1em;
} 

.delete-btn {
  background-color:#E53E3E;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  border-radius: 25px;
  border: 0;
  height: 32px;
  width: 32px;
  color: #FFF5F5;
  line-height: 1;
  margin-left: 5px;
  padding: 5px;
}

.delete-btn:hover {
  background-color: #C53030;
}

.song {
  margin-bottom: 15px;
}

button {
  font-size: 16px;
  color: #fff;
  line-height: 1.5;
  padding: .5em 2em;
  border: none;
  background-color: #4A90E2;
  border-radius: 20px;
}

button:hover {
  transform: translateY(-1px);
}

button:focus {
  outline: none;
}

.text-vertical.jcard {
  transform: rotateZ(0deg);
}

.ta-r {
  text-align: right;
}

.jcard-front.text-horizontal  {
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  width: 4in;
  height: 2.5in;
  transform: rotateZ(-90deg) translateY(.75in);
  text-align: center;
  margin-left: 4px;
  padding: 0 4px;
}

.cover {
  width: inherit;
  display: none;
  height: 2.5in;
  position: absolute;
  background-color: lightgray;
  transform: translateY(-5px) translateX(-1.25in);
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  
}

.img-with-text.cover {
  display: initial;
  background-position: center;
  background-size: contain;
}

.img-with-text.cover-text {
  transform: translateY(2.5in);
}

.img-with-text ol {
  display: inline-flex;
  justify-content: center;
  flex-flow: wrap;
  list-style: none;
}

.img-with-text li {
  font-size: 8.5px;
  margin: 3px 1px;
}

.img-with-text li:not(:last-child)::after {
  content: " • ";
  margin-right: 3px;
}

.jcard-back2 li:not(:last-child)::after {
  content: unset;
}

.jcard.text-horizontal  {
  transform: rotateZ(90deg);
  box-shadow: 4px 0px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.img-only.cover {
  background-color: inherit;
  display: initial;
  height: inherit;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.img-only.cover-text {
  display: none;
}

.flipped-side {
  transform: rotateZ(-90deg) translateY(-.75in);
}

.flipped-back {
  transform: rotateZ(90deg) translateY(1.5in);
}

.titles-form-inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px;
}

.titles-form-inputs label{
  margin-bottom: 10px;
  margin-top: 25px;
}

.jcard-back2 ol {
  display: flex;
  width: 50%;
  flex-wrap: wrap;
  list-style: decimal;
  justify-content: normal;
  list-style-position: inside;
}

.jcard-back2 li {
  text-align: left;
  margin: 3px 5px;
  font-weight: bold;
}

#style-form {
  display: grid;
  grid-template-columns: 20% auto;
  justify-content: flex-start;
  height: 300px;
  align-items: baseline;
  align-content: space-evenly;
  margin-left: 120px;
}

.settings-card {
  margin-bottom: 50px;
  background-color: #F7FAFC;
  padding: 15px;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  border-top: 5px solid royalblue;
  border-radius: 5px;
  width: 700px;
}

.settings-card h3 {
  color: #718096;
  font-weight: 300;
  padding-top: 5px;
  padding-bottom: 15px;
  font-size: x-large;
}

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.font-size-input {
  text-align: center;
  margin-bottom: 25px;
}

.font-size-input label {
  margin-right: 10px;
}

.song-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-btn {
  display: block;
  margin: 15px auto;
}

#front-style input, #font-form input {
  margin: 5px 10px;
}


#titles-form {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 50px;
}

#other-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  align-items: center;
}

footer {
  margin-bottom: 15px;
}

@media print {

  .jcard-form {
    display: none;
  }

  .jcard{
    box-shadow: none;
  }

  body {
    background: none;
  }

  footer {
    display: none;
  }
}

@media screen and (max-width: 1100px){

  .content-wrapper{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .jcard {
    margin-top: 15px;
  }
}

@media screen and (max-width: 720px) {
  .settings-card {
    width: unset;
    margin: 15px 5px;
  }
}

@media screen and (max-width: 500px) {
  label {
    font-size: 14px;
    inline-size: max-content;
  }

  input[type=number] {
    width: 70px;
  }

  #front-style {
    width: 45%;
  }
}

@media screen and (max-width: 400px) {
  .content-wrapper {
    justify-content: unset;
  }

  #style-form {
    justify-content: center;
  }

  input[type=text] {
    width: 250px;
  }
}